TAVILY_API_KEY=YOUR_API_KEY
# azure open ai api key
AZURE_OPENAI_API_KEY=YOUR_API_KEY
AZURE_OPENAI_ENDPOINT=YOUR_API_KEY
OPENAI_API_VERSION=YOUR_API_KEY
# gemini api key
GOOGLE_API_KEY=YOUR_API_KEY

GEMINI_MODEL=gemini-3-pro-preview